branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat



frontend/.env
backend/.env
**/.env
**/*.env.local

backend/config/*firebase-adminsdk*.json

backend/node_modules
frontend/node_modules